<H1> SwitchBoard</H1>
<button (click)="onButtonClick(0)"[ngClass]="{selected: buttonstate[0]}">{{(buttonstate[0]===1)?'ON':'OFF'}}</button>
<button (click)="onButtonClick(1)"[ngClass]="{selected: buttonstate[1]}">{{(buttonstate[1]===1)?'ON':'OFF'}}</button>
<button (click)="onButtonClick(2)"[ngClass]="{selected: buttonstate[2]}">{{(buttonstate[2]===1)?'ON':'OFF'}}</button>
<button (click)="onButtonClick(3)"[ngClass]="{selected: buttonstate[3]}">{{(buttonstate[3]===1)?'ON':'OFF'}}</button>
<button (click)="onButtonClick(4)"[ngClass]="{selected: buttonstate[4]}">{{(buttonstate[4]===1)?'ON':'OFF'}}</button>
<button (click)="onButtonClick(5)"[ngClass]="{selected: buttonstate[5]}">{{(buttonstate[5]===1)?'ON':'OFF'}}</button>
<button (click)="onButtonClick(6)"[ngClass]="{selected: buttonstate[6]}">{{(buttonstate[6]===1)?'ON':'OFF'}}</button>
<button (click)="onButtonClick(7)"[ngClass]="{selected: buttonstate[7]}">{{(buttonstate[7]===1)?'ON':'OFF'}}</button>
<button (click)="onButtonClick(8)"[ngClass]="{selected: buttonstate[8]}">{{(buttonstate[8]===1)?'ON':'OFF'}}</button>
<button (click)="onButtonClick(9)"[ngClass]="{selected: buttonstate[9]}">{{(buttonstate[9]===1)?'ON':'OFF'}}</button>