<html>
    <head>
       <title>Cat Pics</title>
 <link rel="stylesheet" type="text/css" href="stylesheets/cat.css">
 <script>
</script>
  </head>

  <body>
  <div class="wrapper">
  <img src="images/cat_image_1.jpg" alt="image of cat">
  <img src="images/cat_image_2.jpg" alt="image of cat">
  <img src="images/cat_image_3.jpg" alt="image of cat">
  <img src="images/cat_image_4.jpg" alt="image of cat">
  </div>
  </body>
  </html>
