<html>
  <head>
    <title>Counter Assignment</title>
  </head>
  <body>
    <h1>Counter</h1>
    <h3><%= count['count'] %> times</h3>
    <form method="get" action="/plustwo">
    <input type="submit" name="addtwo" value="Add Two">
    </form>
    <form method="get" action="/reset">
    <input type="submit" name="reset" value="Reset">
    </form>
  </body>
  </body>
</html>