<html>
    <head>
       <title>Quoting Dojo</title>
  


    </head>
   

    <body>
    
     <h1>Here are the awesome quotes! </h1>
       <% quotes.forEach(function(quote) { %>
       <P> "<%= quote.quote %>" </P>
               <p>- <%= quote.name %>  at <%= quote.createdAt %> </P>
    <% }); %>
    </body>
</html>
