<html>
    <head>
       <title>Dojo Survey Index</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    </head>
   

    <body>
      
      <form action='/result' method='post'>
          <p>Name: <input type='text' name='name' ></p>
          <p>Dojo Location: <input type='text' name='location' align='right'></p>
          <p>Favorite Language: <input type='text' name='language'></p>
          <h2>Comment (optional)</h2>
          <textarea rows="4" cols="50" name="comments"></textarea>
          <p><input type='submit' value='Submit'></p>
      </form>
    </body>
</html>
