<html>
    <head>
       <title>Dojo Survey Index</title>
   <link rel="stylesheet" type="text/css" href="stylesheets/response.css">
    </head>
  

    <body>
      <h2>Submitted Info</h2>
      <p>Name:  <%= post['name'] %></p>
      <p>Dojo Location:  <%= post['location'] %></p>
      <p>Favorite Language: <%= post['language'] %></p>
      <p>Comment: <%= post['comments'] %></p>
      <form action='/' method='get'>
      <p><input type='submit' value='Go Back'></p>
      </form>
    </body>
</html>
