<!--The content below is only a placeholder and can be replaced.-->
<h1> Retro Barcode Generator</h1>

<div class="block" [ngStyle]="{
  'background-color': rcolor()
}" >
</div>
<div class="block" [ngStyle]="{
  'background-color': rcolor()
}" >
</div>
<div class="block" [ngStyle]="{
  'background-color': rcolor()
}" >
</div>
<div class="block" [ngStyle]="{
  'background-color': rcolor()
}" >
</div>
<div class="block" [ngStyle]="{
  'background-color': rcolor()
}" >
</div>
<div class="block" [ngStyle]="{
  'background-color': rcolor()
}" >
</div>
